@model IEnumerable<WebApplication1.Models.Employee>

@{
    ViewBag.Title = "Employee";
}

<h2>Employees</h2>

<p>
    <a href="@Url.Action("Create", "Employee" )" class="btn btn-primary">Create New</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Job Position</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.JobPosition</td>
                <td>
                    <a href="@Url.Action("Edit", "Employee" , new { id=employee.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "Employee" , new { id=employee.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

